### Предчувствие агента Купера
Агента Купера перевели к Фоксу Малдеру и Дане Скалли. Агент Купер может чудесным образом, какие из сообщений о появлении НЛО настоящие. Так как его методики никто не понимает, Купера попросили облачить его познания в систему принятия решений, чем он и занялся.

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

df = pd.read_csv('complete.csv',on_bad_lines='skip')

df = df.replace(r'^[nN]+[aA]+[nN]', np.nan)

df

C:\Users\bache\AppData\Local\Temp\ipykernel_15620\2037468117.py:6: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('complete.csv',on_bad_lines='skip')

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
88674,9/9/2013 22:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,9/30/2013,38.297222,-122.284444
88675,9/9/2013 22:20,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556
88676,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.652778,-97.477778
88677,9/9/2013 23:00,starr,sc,us,diamond,0.0,2 nights,On September ninth my wife and i noticed stran...,9/30/2013,34.376944,-82.695833
88678,9/9/2013 23:30,ft. lauderdale,fl,us,oval,0.0,still occuring,Hovering object lit with red and white lights&...,9/30/2013,26.121944,-80.143611

### Огромное количество данных
Купер видит огромное количество данных, которые в данный момент находятся в одной таблицы. Нужно срочно что-то делать! А если точнее, поделить данные на таблицы.

In [2]:
temp_df = df.dropna(subset=["city"])

#Удаляем символы, которые используются в pandas'e
temp_df["city"] = temp_df["city"].str.replace('\(', ' ')
temp_df["city"] = temp_df["city"].str.replace('\)', '')
temp_df["city"] = temp_df["city"].str.replace('\>>', '')

cities = temp_df["city"].tolist()

final_cities_list = [] #На самом деле, не совсем final, так как некоторые города
# могут повторяться из-за тире и прочих символов, но пока что этого хватит

for city in cities:
    if not final_cities_list.__contains__(city):
        final_cities_list.append(city)

print("Изначальное количество городов (записей в таблице): " + str(len(cities)))
print("Количество городов после сокращения (записей в таблице): " + str(len(final_cities_list)))

Изначальное количество городов (записей в таблице): 88679
Количество городов после сокращения (записей в таблице): 22006

In [3]:
temp_df = df.dropna(subset=["country"])

countries = temp_df["country"].tolist()

final_countries_list = []

for country in countries:
    if not final_countries_list.__contains__(country):
        final_countries_list.append(country)

print("Изначальное количество стран (записей в таблице): " + str(len(countries)))
print("Количество стран после сокращения (записей в таблице): " + str(len(final_countries_list)))

Изначальное количество стран (записей в таблице): 76314
Количество стран после сокращения (записей в таблице): 5

In [4]:
temp_df = df.dropna(subset=["state"])

states = temp_df["state"].tolist()

final_states_list = []

for state in states:
    if not final_states_list.__contains__(state):
        final_states_list.append(state)

print("Изначальное количество штатов (записей в таблице): " + str(len(states)))
print("Количество штатов после сокращения (записей в таблице): " + str(len(final_states_list)))

Изначальное количество штатов (записей в таблице): 81270
Количество штатов после сокращения (записей в таблице): 68

In [5]:
temp_df = df.dropna(subset=["shape"])

shapes = temp_df["shape"].tolist()

final_shapes_list = []

for shape in shapes:
    if not final_shapes_list.__contains__(shape):
        final_shapes_list.append(shape)

print("Изначальное количество форм НЛО (записей в таблице): " + str(len(shapes)))
print("Количество форм НЛО после сокращения (записей в таблице): " + str(len(final_shapes_list)))

Изначальное количество форм НЛО (записей в таблице): 85757
Количество форм НЛО после сокращения (записей в таблице): 29

Теперь можно и построить структуру БД, с которой будем работать в дальнейшем. Пока что не будем загружать данные, потому что еще не до конца их обработали.
![](databasestructure.png)

(СУБД PostgreSQL, реализация и визуализация в приложении DataGrip)