### Не умереть на Титанике
Пытаясь найти Доктора Кто в обозримой вселенной, Мастер оказывается в практически безвыходной ситуации. У машины времени Мастера кончилась энергия, из-за чего она переместилась в случайное время и пространство, которым оказался Титаник в момент его гибели. У Мастера есть аппарат, позволяющий полностью поменять свою внешность, однако, тот частично не исправен.

In [42]:
import pandas as pd
import numpy as np

df = pd.read_csv('train.csv')

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### Получение знаний
Мастер ничего не знает о Титанике, поэтому для начала он хочет получить какие-то базовые знания - и увидеть базовые закономерности.

In [43]:
gender_female = df[(df["Sex"])=="female"]

gender_female_survived = len(gender_female[(gender_female["Survived"])==1])
gender_female_dead = len(gender_female) - gender_female_survived

print("Всего было женщин: " + str(len(gender_female)))
print("Выжило: " + str(gender_female_survived) + " Умерло: " + str(gender_female_dead))

###Теперь посчитаем, сколько выжило мужчин

gender_male = df[(df["Sex"])=="male"]

gender_male_survived = len(gender_male[(gender_male["Survived"])==1])
gender_male_dead = len(gender_male) - gender_male_survived

print("Всего было мужчин: " + str(len(gender_male)))
print("Выжило: " + str(gender_male_survived) + " Умерло: " + str(gender_male_dead))

Всего было женщин: 314
Выжило: 233 Умерло: 81
Всего было мужчин: 577
Выжило: 109 Умерло: 468

In [44]:
#Первый класс
passenger_first_class = df[(df["Pclass"])==1]

passenger_first_class_survived = len(passenger_first_class[(passenger_first_class["Survived"])==1])
passenger_first_class_dead = len(passenger_first_class) - passenger_first_class_survived

print("Всего было пассажиров в первом классе: " + str(len(passenger_first_class)))
print("Выжило: " + str(passenger_first_class_survived) + " Умерло: " + str(passenger_first_class_dead))

#Второй класс

passenger_second_class = df[(df["Pclass"])==2]

passenger_second_class_survived = len(passenger_second_class[(passenger_second_class["Survived"])==1])
passenger_second_class_dead = len(passenger_second_class) - passenger_second_class_survived

print("Всего было пассажиров во втором классе: " + str(len(passenger_second_class)))
print("Выжило: " + str(passenger_second_class_survived) + " Умерло: " + str(passenger_second_class_dead))

#Третий класс

passenger_third_class = df[(df["Pclass"])==3]

passenger_third_class_survived = len(passenger_third_class[(passenger_third_class["Survived"])==1])
passenger_third_class_dead = len(passenger_third_class) - passenger_third_class_survived

print("Всего было пассажиров в третьем классе: " + str(len(passenger_third_class)))
print("Выжило: " + str(passenger_third_class_survived) + " Умерло: " + str(passenger_third_class_dead))

Всего было пассажиров в первом классе: 216
Выжило: 136 Умерло: 80
Всего было пассажиров во втором классе: 184
Выжило: 87 Умерло: 97
Всего было пассажиров в третьем классе: 491
Выжило: 119 Умерло: 372

Ради интереса Мастер решил посмотреть, а какой состав выживших женщин и мужчин, выживших в первом классе

In [45]:
passenger_first_class_survived_male = len(passenger_first_class[((passenger_first_class["Survived"])==1) &
                                                            ((passenger_first_class["Sex"])=="male")])

passenger_first_class_survived_female = passenger_first_class_survived - passenger_first_class_survived_male

gender_female_first_class = len(passenger_first_class[(passenger_first_class["Sex"]=="female")])
gender_male_first_class = len(passenger_first_class) - gender_female_first_class

print("Всего выжило пассажиров в первом классе: " + str(passenger_first_class_survived))
print("ВЫЖИЛО:")
print("Мужчин: " + str(passenger_first_class_survived_male) + " Женщин: " + str(passenger_first_class_survived_female))
print("ВСЕГО БЫЛО")
print("Мужчин: " + str(gender_male_first_class) + " Женщин: " + str(gender_female_first_class))
print("")

#Второй класс

passenger_second_class_survived_male = len(passenger_second_class[((passenger_second_class["Survived"])==1) &
                                                                ((passenger_second_class["Sex"])=="male")])

passenger_second_class_survived_female = passenger_second_class_survived - passenger_second_class_survived_male

gender_female_second_class = len(passenger_second_class[(passenger_second_class["Sex"]=="female")])
gender_male_second_class = len(passenger_second_class) - gender_female_second_class

print("Всего выжило пассажиров во втором классе: " + str(passenger_second_class_survived))
print("ВЫЖИЛО:")
print("Мужчин: " + str(passenger_second_class_survived_male) + " Женщин: " + str(passenger_second_class_survived_female))
print("ВСЕГО БЫЛО")
print("Мужчин: " + str(gender_male_second_class) + " Женщин: " + str(gender_female_second_class))
print("")

#Третий класс

passenger_third_class_survived_male = len(passenger_third_class[((passenger_third_class["Survived"])==1) &
                                                                ((passenger_third_class["Sex"])=="male")])

passenger_third_class_survived_female = passenger_third_class_survived - passenger_third_class_survived_male

gender_female_third_class = len(passenger_third_class[(passenger_third_class["Sex"]=="female")])
gender_male_third_class = len(passenger_third_class) - gender_female_third_class

print("Всего выжило пассажиров в третьем классе: " + str(passenger_third_class_survived))
print("ВЫЖИЛО:")
print("Мужчин: " + str(passenger_third_class_survived_male) + " Женщин: " + str(passenger_third_class_survived_female))
print("ВСЕГО БЫЛО")
print("Мужчин: " + str(gender_male_third_class) + " Женщин: " + str(gender_female_third_class))

Всего выжило пассажиров в первом классе: 136
ВЫЖИЛО:
Мужчин: 45 Женщин: 91
ВСЕГО БЫЛО
Мужчин: 122 Женщин: 94

Всего выжило пассажиров во втором классе: 87
ВЫЖИЛО:
Мужчин: 17 Женщин: 70
ВСЕГО БЫЛО
Мужчин: 108 Женщин: 76

Всего выжило пассажиров в третьем классе: 119
ВЫЖИЛО:
Мужчин: 47 Женщин: 72
ВСЕГО БЫЛО
Мужчин: 347 Женщин: 144

Уже на данный момент Мастеру приблизительно понятно, к чему нужно стремиться и на чем основываться - теперь осталось обучить модель